* {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  box-sizing: border-box;
}

html {
   background: -webkit-linear-gradient(100deg, #35424a, #772953);
  min-height: 100vh;
  font-size: 18px;
}

body {
  padding: 50px;
}

code {
  margin: 1px 5px;
  padding: 2px 5px 1px 5px;
  font-family: 'Bree Serif', serif;
  border-radius: 2px;
  border: 1px dotted #fff;
}

p {
  margin: 25px 10px 5px 10px;
  font-family: 'Bree Serif', serif;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: -100px;
    font-family: 'Bree Serif', serif;
    margin-top: -150px;
    margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 70px;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.enterbutton > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
}

.enterbutton { 
  display: flex;
  justify-content:center;
  align-content: space-between;
}

.enterbutton div:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.essaycontainer {
    display: flex;
    flex:wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}